
/* #cardsSection {
    padding-top: 80px;
    padding-bottom: 60px;
  } */
  
  #dataResult {
    margin-top: 30px;
    row-gap: 30px;
  }
  
  .ingredient-card {
    background-color: #1a1a1a;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .ingredient-card:hover {
    transform: translateY(-5px);
  }

  .ingredient-img-box {
    width: 100%;
    height: 180px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .ingredient-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    transition: transform 0.6s ease;
  }
  
  .ingredient-card:hover img {
    transform: scale(1.12);
  }

  .ingredient-info {
    padding: 18px 16px 22px;
    text-align: center;
    flex-grow: 1;
  }
  
  .ingredient-info h5 {
    color: var(--yellow);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ingredient-info p {
    font-size: 0.85rem;
    color: var(--light-gray);
    line-height: 1.6;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  