* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

/* .bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
} */

.overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  z-index: 1;
}

.login-card {
  position: relative;
  z-index: 2;
  width: 500px;
  height: 28rem;
  /* max-width: calc(100% - 40px); */
  /* background: #d1c76d; */
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card h1,
h2 {
  margin-bottom: 12px;
  color: rgb(58, 54, 54);
}
.login-card input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: 1px solid;
  outline: none;
  color: #444;
  opacity: 50%;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: #ebbe0c;
  color: #fff;
  opacity: 75%;
  cursor: pointer;
}
.login-card button:hover {
  opacity: 100%;
}
.login-card p {
  margin-top: 15px;
}
.login-card p a {
  color: #ddd;
  text-decoration: none;
}

@media (max-height: 500px) {
  .hero {
    height: auto;
    padding: 40px 0;
  }
}
