.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/img/background.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 420px;
  padding: 45px 35px;
  background: #eee;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  text-align: center;
  animation: fadeUp 0.6s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-card h1 {
  color: var(--yellow);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.login-card input {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 50px;
  border: 1px solid var(--dark-gray);
  font-size: 0.95rem;
  transition: var(--transition);
}

.login-card input::placeholder {
  color: #777;
}

.login-card input:focus {
  outline: none;
}


.login-card button {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  background-color: var(--yellow);
  border: 1.5px solid var(--yellow);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 10px;
}

.login-card button:hover {
  background-color: var(--yellow);
  color: #000;
  box-shadow: 0 8px 25px rgba(249, 192, 4, 0.35);
  transform: translateY(-2px);
}

.login-card p {
  margin-top: 18px;
  font-size: 0.9rem;
  color: #aaa;
}

.login-card p a {
  color: var(--light-gray);
  text-decoration: none;
  transition: var(--transition);
}

.login-card p a:hover {
  color: var(--yellow);
}

#error {
  margin-top: 15px;
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .login-card {
    width: 90%;
    padding: 35px 25px;
  }
}