.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../image/background.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-card {
  width: 420px;
  padding: 45px 35px;
  background: #eee;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  text-align: center;
  animation: fadeUp 0.6s ease;
}

.signup-card h1 {
  /* margin-bottom: 12px; */
  color: var(--yellow);
  font-size: 45px;
}

.signup-card input {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 50px;
  border: 1px solid var(--dark-gray);
  font-size: 0.95rem;
  transition: var(--transition);
}

.signup-card input::placeholder {
  color: #777;
}

.signup-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: red;
  opacity: 75%;
  color: #fff;
  cursor: pointer;
}
.signup-card button:hover {
  opacity: 100%;
}
.signup-card p {
  margin-top: 15px;
}
.signup-card p a {
  color: var(--light-gray);
  text-decoration: none;
  transition: var(--transition);
}

.signup-card p a:hover {
  color: var(--yellow);
}

@media (max-height: 500px) {
  .hero {
    height: auto;
    padding: 40px 0;
  }
}
