* {
    padding: 0;
    margin: 0;

    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: #000000f2;

}

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

i {
    cursor: pointer;
}

.youtube {
    background-color: #F70000;
}