/* * {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;

} */

/* body {
    background-color: #000000f2;

} */

li {
    list-style: none !important;
}

/* a {
    text-decoration: none !important;
}

i {
    cursor: pointer;
} */



.youtube {
    background-color: #F70000;
}




/*Search Styles*/

#searchByNameInput,
#searchByLetterInput {
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#searchByNameInput:focus,
#searchByLetterInput:focus {
    border-color: #9b9da1;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.2);
}

#searchByNameInput::placeholder,
#searchByLetterInput::placeholder {
    color: #aaa;
    font-style: italic;
}

.meal-card {
    background: #fff;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.35s ease;
    cursor: pointer;
}

.meal-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.meal-img-box {
    position: relative;
    overflow: hidden;
}

.meal-img-box img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.meal-card:hover img {
    transform: scale(1.08);
}

.fav-icon {
    color: #777;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.fav-icon:hover {
    color: #e63946;
    transform: scale(1.1);
}

.fav-icon.active {
    color: #e63946;
}

.meal-info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-info h5 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.meal-info p {
    font-size: 0.85rem;
    color: #777;
}

.yellow {
    background-color: yellow;
}

/*------------------------------------------------------*/


.ingredient-card {
    background: #fff;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.35s ease;
    cursor: pointer;
}

.ingredient-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.ingredient-info {
    text-align: center;
    padding: 1rem;
}

.ingredient-img-box {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ingredient-img-box img {
    height: 13rem;
    object-fit: cover;
    transition: transform 0.5s ease;
    width: 80%;
}

.ingredient-card:hover img {
    transform: scale(1.08);

}
